.board-container {
  display: flex;
  gap: 30px;
  padding: 16px;
  background: #f4f5f8;
  overflow-x: auto; /* Ensure horizontal scroll for smaller screens */
}

.board-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.column-header {
  font-size: 15px;
  font-weight: bold;
  font-weight: 500;
}

.card-list {
  grid-template-columns: repeat(auto-fill, 280px); /* Cards take equal width */
  gap: 16px;
  justify-content: center; /* Center cards in each column */
}

.card-container {
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  margin-bottom: 10px;
}

.container{
  display: flex;
  justify-content: space-between;
}